<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExternalHosts</key>
	<array/>
	<key>Plugins</key>
	<dict>
		<key>org.apache.cordova.debugconsole</key>
		<string>CDVDebugConsole</string>
		<key>org.apache.w3bridge.notification</key>
		<string>BridgeNotification</string>
		<key>org.apache.w3bridge.externalInterface</key>
		<string>BridgeExternalInterface</string>
		<key>org.apache.w3bridge.view</key>
		<string>BridgeView</string>
	</dict>
</dict>
</plist>
