<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>w3bridge-Bundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>w3bridge-Device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>w3bridge-Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>w3bridge-Simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>w3bridgeTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>235D83631A8898AB00262BCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>237AB01D187C2EE200BD906B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>237AB037187C2FE700BD906B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23A6DE5E1875145800FB9C34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23A6DE6E1875145800FB9C34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
